/* Dark mode colors. */
:root {
  --sl-color-accent-low: #0e2149;
  --sl-color-accent: #1257ee;
  --sl-color-accent-high: #8db4fc;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeded;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8c8b8b;
  --sl-color-gray-4: #595858;
  --sl-color-gray-5: #393838;
  --sl-color-gray-6: #272627;
  --sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #c2d8ff;
  --sl-color-accent: #1459f1;
  --sl-color-accent-high: #0f2c6d;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272627;
  --sl-color-gray-2: #393838;
  --sl-color-gray-3: #595858;
  --sl-color-gray-4: #8c8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeded;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}

:root[data-theme="light"] #sponsor-icon {
  fill: black;
}
