---
import nuxt from "../assets/sponsors/nuxt.svg?raw";
import prefect from "../assets/sponsors/prefect.svg?raw";
import stackblitz from "../assets/sponsors/stackblitz.svg?raw";
import vue from "../assets/sponsors/vue.svg?raw";

interface Props {
  smallPadding?: boolean;
}

const sponsors = [
  {
    name: "StackBlitz",
    img: stackblitz,
    url: "https://stackblitz.com",
  },
  {
    name: "Nuxt",
    img: nuxt,
    url: "https://nuxt.com/",
  },
  {
    name: "Vue",
    img: vue,
    url: "https://vuejs.org/",
  },
  {
    name: "Prefect",
    img: prefect,
    url: "https://www.prefect.io/",
  },
];

const { smallPadding } = Astro.props;
---

<section class="sponsors not-content" class:list={[{ "small-padding": smallPadding }]}>
  {
    sponsors.map((sponsor) => (
      <a href={sponsor.url}>
        <article class:list={[{ "small-padding": smallPadding }]}>
          <h4>{sponsor.name}</h4>
          <Fragment set:html={sponsor.img} />
        </article>
      </a>
    ))
  }
</section>
<section class="not-content sponsor-link-container">
  <a class="sponsor-link" href="https://github.com/sponsors/johnsoncodehk">💙 Sponsor Volar 💙</a>
</section>

<style>
  .sponsors {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.75rem;
    overflow: hidden;
    gap: 0.25rem;
    width: 100%;
    margin-top: 1rem;
  }
  .sponsors.small-padding a {
    width: 100%;
  }
  .sponsors a {
    width: 34%;
    flex-grow: 1;
  }
  .sponsors a.large {
    width: 100%;
  }
  article {
    display: flex;
    background-color: var(--sl-color-gray-6);
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: background-color 0.2s ease;
  }
  article.small-padding {
    padding: 1.25rem;
  }
  article:hover {
    background-color: var(--sl-color-gray-1);
    filter: none;
  }
  :root[data-theme="dark"] article:hover :global(.sponsor-name) {
    fill: black;
  }
  :root[data-theme="light"] article:hover :global(.sponsor-name) {
    fill: white;
  }
  h4 {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }
  .sponsor-link-container {
    text-align: center;
  }
  .sponsor-link {
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--sl-color-text-accent);
    display: inline !important;
  }
  .sponsor-link:hover {
    color: var(--sl-color-accent);
  }
</style>

<style is:global>
  :root[data-theme="light"] .sponsor-name {
    fill: black;
  }
</style>
