---
import nuxt from "../assets/sponsors/nuxt.svg?raw";
import prefect from "../assets/sponsors/prefect.svg?raw";
import stackblitz from "../assets/sponsors/stackblitz.svg?raw";
import vue from "../assets/sponsors/vue.svg?raw";
---

<hr />
<section id="sponsors">
  <h2>Sponsors</h2>

  <a href="https://stackblitz.com">
    <Fragment set:html={stackblitz} />
  </a>

  <a href="https://vuejs.org/">
    <Fragment set:html={vue} />
  </a>

  <a href="https://nuxt.com/">
    <Fragment set:html={nuxt} />
  </a>

  <a href="https://www.prefect.io/">
    <Fragment set:html={prefect} />
  </a>
</section>

<hr style="margin-bottom: 5rem;" />

<style>
  #sponsors {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-content: center;
    max-height: 42px;
    color: white;
  }

  #sponsors img {
    margin: 0;
    height: 42px;
    width: auto;
    color: white;
  }

  a {
    align-self: center;
  }

  @media screen and (max-width: 1024px) {
    #sponsors {
      justify-content: center;
      max-height: fit-content;
    }

    #sponsors h2 {
      width: 100%;
      text-align: center;
    }
  }
</style>

<style is:global>
  :root[data-theme="light"] .sponsor-name {
    fill: black;
  }
</style>
