---
import { Image } from "astro:assets";
import nuxt from "../assets/sponsors/nuxt.svg";
import prefect from "../assets/sponsors/prefect.svg";
import stackblitz from "../assets/sponsors/stackblitz.svg";
import vue from "../assets/sponsors/vue.svg";
---

<hr />
<section id="sponsors">
  <h2>Sponsors</h2>

  <a href="https://stackblitz.com"><Image src={stackblitz} alt="StackBlitz's logo" /></a>

  <a href="https://vuejs.org/"><Image src={vue} alt="Vue's logo" /></a>

  <a href="https://nuxt.com/"><Image src={nuxt} alt="Nuxt's logo" /></a>

  <a href="https://www.prefect.io/"
    ><Image src={prefect} alt="Prefect's Logo" style="width: 196px;" /></a
  >
</section>

<hr style="margin-bottom: 5rem;" />

<style>
  #sponsors {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-content: center;
    max-height: 42px;
    color: white;
  }

  #sponsors img {
    margin: 0;
    height: 42px;
    width: auto;
    color: white;
  }

  a {
    align-self: center;
  }

  @media screen and (max-width: 50em) {
    #sponsors {
      justify-content: center;
      max-height: fit-content;
    }
  }
</style>
